.contact-menu {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    max-width: 200px;
    margin-bottom: 20px;
  }

  .contact-input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .button-submit {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .button-submit:hover {
    background-color: #45a049;
  }
  