
.contact-list {
    list-style-type: none;
    padding: 0;
    max-width: 300px;
    margin: auto;
  }
  
  .contact-item {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button-delete {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .button-delete:hover {
    background-color: #d32f2f;
  }
  